apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv-volume1
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/proj"